.todoForm {
    text-align: center;
    padding: 3rem;
    border: .1rem solid #C2C2C2;
}

.todoFormTitle {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.todoFormInputWrapper {
    display: flex;
    flex-direction: column;
    border: .1rem solid #e6e6e6;
    border-radius: 1rem;
    background-color: #F0F0F0;
}

/*.todoFormFields {*/
/*    display: grid;*/
/*    margin-top: 3rem;*/
/*    margin-bottom: 3rem;*/
/*    gap: 1.5rem;*/
/*    grid-template-columns: 1fr 3fr;*/
/*    align-items: center;*/
/*}*/

.todoFormInput {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: inherit;
    text-align: left;
    outline: none;
    border: none;
    background-color: transparent;
}

.todoFormInput::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: #ADADAD;
}

.todoFormLabel {
    width: max-content;
    padding: 1.5rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    justify-self: end;
}

.todoFormTextArea {
    resize: none;
}

