.todo {
    display: flex;
    padding: 1.5rem 3rem;
    align-items: center;
    justify-content: space-between;
}

.todoAction {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.todoActionOpen {
    color: #17a2b8;
}

.todoActionRemove {
    color: #ff4262;
}

.todo:nth-child(odd) {
    background-color: #f2f3f4;
}